<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.classroom.mapper.ChapterMapper">
    
    <resultMap type="Chapter" id="ChapterResult">
        <result property="chapterId"    column="chapter_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="userId"    column="user_id"    />
        <result property="name"    column="name"    />
        <result property="teachMode"    column="teach_mode"    />
        <result property="creditHours"    column="credit_hours"    />
        <result property="type"    column="type"    />
        <result property="sort"    column="sort"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectChapterVo">
        select chapter_id, parent_id, user_id, name, teach_mode, credit_hours, type, sort, status, create_by, create_time, update_by, update_time from tb_chapter
    </sql>

    <select id="selectChapterList" parameterType="Chapter" resultMap="ChapterResult">
        <include refid="selectChapterVo"/>
        <where>  
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="teachMode != null  and teachMode != ''"> and teach_mode = #{teachMode}</if>
            <if test="creditHours != null "> and credit_hours = #{creditHours}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectChapterByChapterId" parameterType="Long" resultMap="ChapterResult">
        <include refid="selectChapterVo"/>
        where chapter_id = #{chapterId}
    </select>
        
    <insert id="insertChapter" parameterType="Chapter">
        insert into tb_chapter
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="chapterId != null">chapter_id,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="teachMode != null">teach_mode,</if>
            <if test="creditHours != null">credit_hours,</if>
            <if test="type != null">type,</if>
            <if test="sort != null">sort,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="chapterId != null">#{chapterId},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="teachMode != null">#{teachMode},</if>
            <if test="creditHours != null">#{creditHours},</if>
            <if test="type != null">#{type},</if>
            <if test="sort != null">#{sort},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateChapter" parameterType="Chapter">
        update tb_chapter
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="teachMode != null">teach_mode = #{teachMode},</if>
            <if test="creditHours != null">credit_hours = #{creditHours},</if>
            <if test="type != null">type = #{type},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where chapter_id = #{chapterId}
    </update>

    <delete id="deleteChapterByChapterId" parameterType="Long">
        delete from tb_chapter where chapter_id = #{chapterId}
    </delete>

    <delete id="deleteChapterByChapterIds" parameterType="String">
        delete from tb_chapter where chapter_id in 
        <foreach item="chapterId" collection="array" open="(" separator="," close=")">
            #{chapterId}
        </foreach>
    </delete>
</mapper>