<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.classroom.mapper.CourseUserMapper">

    <resultMap type="com.ruoyi.classroom.domain.CourseUser" id="CourseUserResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="courseId"    column="course_id"    />
        <result property="type"    column="type"    />
    </resultMap>

    <sql id="selectCourseUserVo">
        select id, user_id, course_id, type from tb_course_user
    </sql>

    <select id="selectCourseUserList" parameterType="com.ruoyi.classroom.domain.CourseUser" resultMap="CourseUserResult">
        <include refid="selectCourseUserVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="courseId != null "> and course_id = #{courseId}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>

    <select id="selectCourseUserById" parameterType="Long" resultMap="CourseUserResult">
        <include refid="selectCourseUserVo"/>
        where id = #{id}
    </select>
    <select id="findUserCountByCourse" resultType="com.ruoyi.classroom.domain.CourseUser">
        <include refid="selectCourseUserVo"/>
        <if test="course_id!=null">
            where course_id=#{courseId}
        </if>

    </select>
    <select id="selectByUserId" resultMap="CourseUserResult">
        <include refid="selectCourseUserVo"/>
        <if test="user_id != null">
            where user_id=#{user_id}
        </if>
        <if test="type != null">
            and type=#{type}
        </if>
    </select>
    <select id="selectCourseUserByUserId" resultMap="CourseUserResult">
        <include refid="selectCourseUserVo"/>
        <if test="user_id != null">
            where user_id=#{user_id}
        </if>
    </select>
    <select id="selectUserIdByCourseId" resultType="java.lang.Long">
        select user_id from tb_course_user where course_id=#{courseId}
    </select>

    <insert id="insertCourseUser" parameterType="com.ruoyi.classroom.domain.CourseUser" useGeneratedKeys="true" keyProperty="id">
        insert into tb_course_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="courseId != null">course_id,</if>
            <if test="type != null">type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="courseId != null">#{courseId},</if>
            <if test="type != null">#{type},</if>
         </trim>
    </insert>

    <update id="updateCourseUser" parameterType="com.ruoyi.classroom.domain.CourseUser">
        update tb_course_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="type != null">type = #{type},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCourseUserById" parameterType="Long">
        delete from tb_course_user where id = #{id}
    </delete>

    <delete id="deleteCourseUserByIds" parameterType="String">
        delete from tb_course_user where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="exitCourse">
        delete from tb_course_user where course_id = #{courseId} and user_id = #{userId}
    </delete>
</mapper>
