<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.classroom.mapper.ResourceMapper">
    
    <resultMap type="Resource" id="ResourceResult">
        <result property="resourceId"    column="resource_id"    />
        <result property="title"    column="title"    />
        <result property="path"    column="path"    />
        <result property="size"    column="size"    />
        <result property="userId"    column="user_id"    />
        <result property="isDownload"    column="is_download"    />
        <result property="type"    column="type"    />
        <result property="typeLabel"    column="type_label"    />
        <result property="shareProtocol"    column="share_protocol"    />
        <result property="process"    column="process"    />
        <result property="chapterId"    column="chapter_id"    />
        <result property="publishDate"    column="publish_date"    />
        <result property="deadline"    column="deadline"    />
        <result property="totalScore"    column="total_score"    />
        <result property="completed"    column="completed"    />
        <result property="studying"    column="studying"    />
        <result property="nostudying"    column="nostudying"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectResourceVo">
        select resource_id, title, path, size, user_id, is_download, type, type_label, share_protocol, process, chapter_id, publish_date, deadline, total_score, completed, studying, nostudying, status, create_by, create_time, update_by, update_time from tb_resource
    </sql>

    <select id="selectResourceList" parameterType="Resource" resultMap="ResourceResult">
        <include refid="selectResourceVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="path != null  and path != ''"> and path = #{path}</if>
            <if test="size != null  and size != ''"> and size = #{size}</if>
            <if test="isDownload != null  and isDownload != ''"> and is_download = #{isDownload}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="typeLabel != null  and typeLabel != ''"> and type_label = #{typeLabel}</if>
            <if test="shareProtocol != null  and shareProtocol != ''"> and share_protocol = #{shareProtocol}</if>
            <if test="process != null  and process != ''"> and process = #{process}</if>
            <if test="chapterId != null "> and chapter_id = #{chapterId}</if>
            <if test="publishDate != null "> and publish_date = #{publishDate}</if>
            <if test="deadline != null "> and deadline = #{deadline}</if>
            <if test="totalScore != null "> and total_score = #{totalScore}</if>
            <if test="completed != null "> and completed = #{completed}</if>
            <if test="studying != null "> and studying = #{studying}</if>
            <if test="nostudying != null "> and nostudying = #{nostudying}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectResourceByResourceId" parameterType="Long" resultMap="ResourceResult">
        <include refid="selectResourceVo"/>
        where resource_id = #{resourceId}
    </select>
        
    <insert id="insertResource" parameterType="Resource">
        insert into tb_resource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="resourceId != null">resource_id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="path != null and path != ''">path,</if>
            <if test="size != null">size,</if>
            <if test="userId != null">user_id,</if>
            <if test="isDownload != null">is_download,</if>
            <if test="type != null">type,</if>
            <if test="typeLabel != null">type_label,</if>
            <if test="shareProtocol != null">share_protocol,</if>
            <if test="process != null">process,</if>
            <if test="chapterId != null">chapter_id,</if>
            <if test="publishDate != null">publish_date,</if>
            <if test="deadline != null">deadline,</if>
            <if test="totalScore != null">total_score,</if>
            <if test="completed != null">completed,</if>
            <if test="studying != null">studying,</if>
            <if test="nostudying != null">nostudying,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="resourceId != null">#{resourceId},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="path != null and path != ''">#{path},</if>
            <if test="size != null">#{size},</if>
            <if test="userId != null">#{userId},</if>
            <if test="isDownload != null">#{isDownload},</if>
            <if test="type != null">#{type},</if>
            <if test="typeLabel != null">#{typeLabel},</if>
            <if test="shareProtocol != null">#{shareProtocol},</if>
            <if test="process != null">#{process},</if>
            <if test="chapterId != null">#{chapterId},</if>
            <if test="publishDate != null">#{publishDate},</if>
            <if test="deadline != null">#{deadline},</if>
            <if test="totalScore != null">#{totalScore},</if>
            <if test="completed != null">#{completed},</if>
            <if test="studying != null">#{studying},</if>
            <if test="nostudying != null">#{nostudying},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateResource" parameterType="Resource">
        update tb_resource
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="path != null and path != ''">path = #{path},</if>
            <if test="size != null">size = #{size},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="isDownload != null">is_download = #{isDownload},</if>
            <if test="type != null">type = #{type},</if>
            <if test="typeLabel != null">type_label = #{typeLabel},</if>
            <if test="shareProtocol != null">share_protocol = #{shareProtocol},</if>
            <if test="process != null">process = #{process},</if>
            <if test="chapterId != null">chapter_id = #{chapterId},</if>
            <if test="publishDate != null">publish_date = #{publishDate},</if>
            <if test="deadline != null">deadline = #{deadline},</if>
            <if test="totalScore != null">total_score = #{totalScore},</if>
            <if test="completed != null">completed = #{completed},</if>
            <if test="studying != null">studying = #{studying},</if>
            <if test="nostudying != null">nostudying = #{nostudying},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where resource_id = #{resourceId}
    </update>

    <delete id="deleteResourceByResourceId" parameterType="Long">
        delete from tb_resource where resource_id = #{resourceId}
    </delete>

    <delete id="deleteResourceByResourceIds" parameterType="String">
        delete from tb_resource where resource_id in 
        <foreach item="resourceId" collection="array" open="(" separator="," close=")">
            #{resourceId}
        </foreach>
    </delete>

    <select id="getResourceByChapterId" parameterType="String" resultMap="ResourceResult">
        select * from tb_resource where chapter_id in
        <foreach item="chapterId" collection="array" open="(" separator="," close=")">
        #{chapterId}
        </foreach>
    </select>
</mapper>